{% extends 'shop/base.html' %}



{% block body %}
    {% if request.user.is_authenticated and request.user.is_superuser or object.username == request.user.username %}

            <form method="post" class="container text-center">
                {% csrf_token %}
            <div class="row justify-content-center py-5">
                <div class="col-4 py-5">
                    <h1 class="py-2">Удаление поста</h1>
                    <h4><p class="badge bg-secondary">Вы уверены что хотите удалить?</p></h4>
                <div class="row">
                        <div class="col-md-auto mx-auto">
                          <div class="card shadow-sm">
                              {% if object.photo %}
                                  <img class="bd-placeholder-img card-img-top img-fluid" width="100%" height="225" src="{{ object.photo.url }}">
                              {% endif %}
                            <div class="card-body">
                              <p class="card-text">{{ object.title }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <small class="text-muted">{{ object.time_upate|date }}</small>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="py-2 mx-auto">
                        <input type="submit" class="btn btn-primary" value="Удалить"/>
                    </div>
                </div>
            </div>

            </form>
    {% endif %}
{% endblock %}